<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="store_commission" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Commission Configuration</label>
            <tab>sales</tab>
            <resource>Magento_Sales::sales</resource>
            <group id="commission" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="commission_type" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Commission Type</label>
                    <source_model>DevLearnGround\StoreCommission\Model\Config\Source\CommissionType</source_model>
                </field>
                <field id="commission_value" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Commission Value</label>
                    <validate>validate-number</validate>
                </field>
                <field id="roundoff_commission" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Round Off Commission</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Round off commission value to nearest tens</comment>
                </field>
            </group>
        </section>
    </system>
</config>